/* CSS GRID  ------------------
---------------------------- */

.grid-wrapper {
	display: grid;
	grid-gap: 1.5%;
	margin-bottom: 24px;

	&.col-2 {
	  grid-template-columns: repeat(2, 49.25%);
	}

	&.col-3 {
	  grid-template-columns: repeat(3, 32.3333333333334%);
	}

	&.col-4 {
	  grid-template-columns: repeat(4, 23.875%);
	}

	&.col-5 {
	  grid-template-columns: repeat(5, 18.8%);
	}

	&.col-6 {
	  grid-template-columns: repeat(6, 15.416666666666666%);
	}

	&.col-12 {
	  grid-template-columns: repeat(12, 6.958333333333333%);
	}
}

.grid-item {
  background-color: #FFFFFF;
  border: 1px solid slategray;
  border-radius: 3px;
  // box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.13);
  padding: 20px;
  transition: all 0.08s;

  &:hover {
  	transform: scale(1.02);
  }
}