@import '../../../node_modules/normalize.css/normalize.css';
@import '../variables.scss';


/* Base styles
 * ========================================================================== */
html {
  color: #525252;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  //font-family: $font-family-base;
  font-family: 'Palanquin', sans-serif;
  line-height: 1.375; /* ~22px */
}

body {
  background-color: #fbfbfb;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  margin:    2rem 0 1rem;
}

h2 {
  font-size: 1.667rem;
  margin:    1.667rem 0 0.83rem;
}

h3 {
  font-size: 1.333rem;
  margin:    1.333rem 0 0.666rem;
}

h4 {
  font-size: 1rem;
  margin:    1rem 0 0.5rem;
}

h5 {
  font-size: 0.875rem;
  margin:    0.875rem 0 0.4375rem;
}

h6 {
  font-size: 0.75rem;
  margin:    0.75rem 0 0.375rem;
}

p {
  font-size: 1rem;
  margin:    0.667rem 0;
}

/* A better looking default horizontal rule */
hr {
  display: block;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #fff;
  margin: 1em 0;
  padding: 0;
}















/* ------------------------------------------------------- */


/* Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design. */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/* Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


/* Remove default fieldset styles. */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/* Allow only vertical resizing of textareas. */
textarea {
  resize: vertical;
}


/* Browser upgrade prompt
 * ========================================================================== */
:global(.browserupgrade) {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Print styles
 * Inlined to avoid the additional HTTP request:
 * http://www.phpied.com/delay-loading-your-print-css/
 * ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.center {
  text-align: center;
}
